# 机型选择
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
# CONFIG_TARGET_x86_64_Generic=y
CONFIG_PACKAGE_grub2-efi=y
CONFIG_EFI_IMAGES=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_KERNEL_PARTSIZE=32
CONFIG_TARGET_ROOTFS_PARTSIZE=480
# CONFIG_DOCKER_KERNEL_OPTIONS is not set
CONFIG_KERNEL_CC_STACKPROTECTOR_NONE=y
# CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR is not set
# CONFIG_KERNEL_CGROUPS is not set
# CONFIG_KERNEL_NAMESPACES is not set
# CONFIG_KERNEL_STACKPROTECTOR is not set
CONFIG_LUCI_SRCDIET=y
# DDNS
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts_aliyun=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts_dnspod=n
# Docker
# CONFIG_PACKAGE_luci-app-dockerman=y
# CONFIG_PACKAGE_luci-lib-docker=y
# CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-i18n-diskman-zh-cn=y
#ttnode
# CONFIG_PACKAGE_luci-app-ttnode=y

CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_wget=y
# CONFIG_PACKAGE_kmod-crypto-misc=n
CONFIG_PACKAGE_kmod-kvm-intel=y
CONFIG_PACKAGE_kmod-kvm-x86=y
CONFIG_OPENSSL_ENGINE_CRYPTO=y
CONFIG_OPENSSL_ENGINE_DIGEST=y
CONFIG_OPENSSL_WITH_CAMELLIA=y
CONFIG_OPENSSL_WITH_COMPRESSION=y
CONFIG_OPENSSL_WITH_DTLS=y
CONFIG_OPENSSL_WITH_EC2M=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_GOST=y
CONFIG_OPENSSL_WITH_IDEA=y
CONFIG_OPENSSL_WITH_MDC2=y
CONFIG_OPENSSL_WITH_RFC3779=y
CONFIG_OPENSSL_WITH_SEED=y
CONFIG_OPENSSL_WITH_WHIRLPOOL=y

CONFIG_PACKAGE_luci-app-usb-printer=n
CONFIG_PACKAGE_kmod-usb-printer=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_autosamba=n
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_luci-i18n-samba-zh-cn=y
CONFIG_PACKAGE_nft-qos=y
# CONFIG_PACKAGE_luci-i18n-nft-qos-zh-cn=y
CONFIG_PACKAGE_luci-app-uugamebooster=n
# CONFIG_PACKAGE_autosamba=n
CONFIG_PACKAGE_luci-app-autoreboot=y
# CONFIG_PACKAGE_luci-app-syncdial=n
CONFIG_PACKAGE_luci-app-xlnetacc=n
# CONFIG_PACKAGE_luci-app-mwan3_INCLUDE_mwan3=n
CONFIG_PACKAGE_luci-app-ipsec-vpnd=n
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-kodexplorer=n
CONFIG_PACKAGE_luci-app-adbyby-plus=n
# CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-unblockmusic=n
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-zerotier=y
# CONFIG_PACKAGE_luci-theme-argon-dark-mod=n
# CONFIG_PACKAGE_luci-theme-argon-light-mod=n
CONFIG_PACKAGE_luci-app-socat=y
CONFIG_PKG_CC_STACKPROTECTOR_NONE=y
# CONFIG_PKG_FORTIFY_SOURCE_1 is not set
CONFIG_PKG_FORTIFY_SOURCE_NONE=y
# CONFIG_PKG_RELRO_FULL is not set
CONFIG_PKG_RELRO_NONE=y
# CONFIG_SIGNATURE_CHECK is not set
# CONFIG_SIGNED_PACKAGES is not set
CONFIG_UnblockNeteaseMusic_Go=n
# CONFIG_V2RAY_COMPRESS_UPX=y
# CONFIG_KERNEL_ELF_CORE is not set
# CONFIG_PKG_CHECK_FORMAT_SECURITY is not set

# CONFIG_KERNEL_SECCOMP is not set
CONFIG_PKG_ASLR_PIE_NONE=y
# CONFIG_PKG_ASLR_PIE_REGULAR is not set
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ssocks=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Socks5=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Socks5_Proxy=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Socks_Server=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks-rust=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Server=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Server=n
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan-Plus=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan-Go=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_https_dns_proxy=y
